@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

@theme {
    --color-primary: #4F46E5;   
    --color-secondary: #E0E7FF;
}
/* // Hide scrollbar for WebKit browser */
::-webkit-scrollbar{           
    display: none;
}


@custom-variant dark (&:where(.dark, .dark*));